@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import 'var';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: $fontFam;

    &:focus {
        outline: none;
    }
}

body {
    font-size: 18px;
    color: $txtClr;
    overflow-x: hidden;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

a {
    text-decoration: none;
    color: $txtClr;
}

.title h2 {
    // text-align: center;
    font-size: 50px;
    font-weight: 500;
    line-height: 120%;

    @media (max-width: 1024px) {
        font-size: 40px;
    }
}

img {
    width: 100%;
}

.wrap {
    display: flex;
    max-width: 1301px;
    width: 96%;
    margin: auto auto;

    @media (max-width: 1024px) {
        max-width: 964px;
    }
}

.gradient-txt {
    background: $gradientTxt;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    position: sticky;
    top: 0;
    z-index: 20;
    background: rgba(255, 255, 255, 0.95);

    .wrap {
        position: relative;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        padding: 30px 0;
        transition: 0.4s;

        @media (max-width: 1024px) {
            font-size: 16px;
            padding: 5px 30px;

            @media (max-width: 560px) {
                padding: 20px 30px;
                width: 100%;
                margin: 0;
            }
        }

        .logo {
            display: none;

            @media (max-width: 560px) {
                display: unset;
            }
        }

        .header__logo {
            width: 65px;
            height: 78px;
            transition: 0.1s;

            @media (max-width: 1024px) {
                width: 147px;
                min-width: 47px;
                height: 57px;

                @media (max-width: 768px) {
                    max-width: 112px;
                    width: 17%;

                    @media (max-width: 560px) {
                        width: 6%;
                        min-width: 28px;
                        height: 32px;
                    }
                }
            }

            svg {
                width: 100%;
                height: 100%;

                line, path {
                    transition: 0.4s;
                }
            }
        }

        .header__menu {
            display: flex;
            justify-content: space-between;
            max-width: 870px;
            width: 67%;
            transition: 0.4s;

            @media (max-width: 1024px) {
                width: 90%;
                padding-left: 30px;

                @media (max-width: 768px) {
                    padding-left: 20px;

                    @media (max-width: 560px) {
                        position: fixed;
                        flex-direction: column;
                        justify-content: space-around;
                        top: 74px;
                        right: 0;
                        height: 300px;
                        width: 50%;
                        margin-left: -30px;
                        background: rgba(255, 255, 255, 0.95);
                        border-radius: 0 0 0 3px;

                        @media (max-width: 414px) {
                            width: 70%;
                        }
                    }
                }
            }

            &[data-show="false"] {
                @media (max-width: 560px) {
                    // display: none;
                    opacity: 0;
                }
            }

            &--hide {
                @media (max-width: 560px) {
                    display: none;
                }
            }
        }

        .header__phone {
            margin: 0;
            font-weight: 500;

            @media (max-width: 1024px) {
                display: none;
            }
        }
    }
}

a.logo {
    display: flex;
    justify-content: center;
    margin-top: -15px;
    font-size: 70px;
    font-weight: 500;

    @media (max-width: 1024px) {
        font-size: 40px;
        margin-top: 0;

        @media (max-width: 560px) {
            display: none;
            font-size: 28px;
            font-weight: normal;
        }
    }
}

section {
    display: flex;
    flex-direction: column;
}

.section__wrap {
    display: flex;
    align-items: center;
    max-width: 1607px;
    width: 98%;
}

.section__info {
    line-height: 185.5%;
    font-weight: 300;

    span {
        font-weight: 500;
    }

    .title {
        margin-bottom: 20px;
    }
}

.about {
    position: relative;
    width: 100%;

    @media (max-width: 1024px) {
        padding-top: 5px;
    }

    &__title {
        align-self: center;

        h3 {
            font-size: 28px;
            font-weight: 400;

            @media (max-width: 1024px) {
                font-size: 20px;
            }
        }
    }

    &__wrap {
        margin-top: 42px;

        @media (max-width: 768px) {
            flex-direction: column;
            margin-top: 0;
        }

        .title {
            @media (max-width: 1024px) {
                margin-bottom: 0;
            }

            h2 {
                font-size: 40px;

                @media (max-width: 1024px) {
                    font-size: 25px;

                    @media (max-width: 768px) {
                        text-align: center;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    &__img {
        max-width: 970px;
        width: 106%;
    }

    &__info {
        margin-left: 35px;
    }
}

.offers {
    padding-top: 73px;
    padding-bottom: 100px;
    align-items: flex-end;
}

.letters {
    padding-top: 150px;
    padding-bottom: 145px;

    @media (max-width: 1024px) {
        padding: 150px 30px 145px 30px;
    }

    &__wrap {
        position: relative;
        justify-content: space-between;
        padding-right: 40px;
        padding-left: 93px;

        @media (max-width: 1024px) {
            padding-left: 0;
        }
    }

    &__info {
        // width: 100%;
        margin-left: 40px;

        .section__text {
            position: relative;
            z-index: 1;

            @media (max-width: 1024px) {
                background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 58.82%, rgba(255, 254, 254, 0) 100%);
            }
        }

        p {
            max-width: 860px;
            padding-left: 60px;

            @media (max-width: 1024px) {
                width: 100%;
                padding-left: 146px;

                @media (max-width: 560px) {
                    padding-left: 40px;
                }
            }
        }
    }

    &__img {
        max-width: 415px;
        width: 29%;

        @media (max-width: 1024px) {
            position: absolute;
            right: 0;
            opacity: 0.3;
            width: 415px;
            z-index: 0;
        }
    }
}

.slider {
    width: 100%;
    height: 832px;
    position: relative;

    @media (max-width: 1024px) {
        height: 444px;
    }

    .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-wrapper {

            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                background: black;
            }
        }

        .swiper__info {
            position: absolute;
            border-radius: 3px 0 0 0;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            background: white;
            height: 287px;
            max-width: 1100px;
            width: 58%;
            padding: 40px 0 0 40px;
            z-index: 15;

            @media (max-width: 1024px) {
                height: 210px;
                padding: 20px 0 0 20px;
            }

            .swiper__txt {
                max-width: 749px;
                width: 92%;

                &--item {
                    display: none;
                    line-height: 164.9%;

                    h4 {
                        font-size: 22px;
                        font-weight: 400;

                        @media (max-width: 1024px) {
                            font-size: 20px;
                        }
                    }

                    p {
                        font-weight: 300;
                    }
                }

                &--active {
                    display: unset;
                }
            }

            .swiper__buttons {
                display: flex;
                width: 232px;
                height: 67px;
                margin-top: auto;
                margin-bottom: 30px;
                justify-content: space-between;

                @media (max-width: 1024px) {
                    height: 40px;
                }

                .swiper-next,
                .swiper-prev {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: static;
                    border: 1px solid $txtClr;
                    border-radius: 100%;
                    cursor: pointer;
                    width: 67px;
                    height: 67px;
                    color: $txtClr;
                    margin-top: 0;
                    transition: 0.4s;

                    @media (max-width: 1024px) {
                        width: 40px;
                        height: 40px;
                    }

                    svg {

                        @media (max-width: 1024px) {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                .swiper-button-disabled {
                    opacity: 0.3;
                }
            }
        }
    }
}

.works {
    padding-top: 200px;
    padding-bottom: 70px;
    align-items: flex-start;

    @media (max-width: 1024px) {
        padding-bottom: 225px;

        @media (max-width: 560px) {
            padding-bottom: 130px;
        }
    }
}

.big-slider {
    width: 100%;
    height: 882px;
    display: flex;
    flex-direction: row;
    position: relative;

    @media (max-width: 1024px) {
        height: 451px;

        @media (max-width: 560px) {
            height: 280px;
        }
    }

    .swiper-container {
        max-width: 1301px;
        height: 100%;

        .swiper-wrapper {

            .swiper-slide {
                background: black;
                color: white;
            }
        }

        .swiper__info {
            max-width: 850px;
            width: 82%;
            height: 294px;

            @media (max-width: 1024px) {
                width: 92%;
                height: 190px;
                background: rgba(255, 255, 255, 1);
                // background: linear-gradient(to top, rgba(255, 255, 255, 1) 1%, #FFFFFF 60%, rgba(255, 255, 255, 0) 98% 99.7%, rgba(255, 254, 255, 1) 99.99% 100%);


                @media (max-width: 560px) {
                    height: 122px;
                }
            }

            .swiper__txt {
                width: 100%;

                .small {
                    font-size: 16px;

                    @media (max-width: 1024px) {
                        font-size: 12px;
                    }
                }

                br {

                    @media (max-width: 1024px) {
                        display: none;
                    }
                }
            }

            .swiper__buttons {
                margin-bottom: 0;
            }
        }
    }

    .swiper--left,
    .swiper--right {
        max-width: 797px;
        width: 43%;
        height: 540px;
        position: absolute;

        @media (max-width: 1024px) {
            height: 296px;

            @media (max-width: 560px) {
                display: none;
            }
        }
    }

    .center-swiper {
        width: 71%;

        @media (max-width: 560px) {
            width: 100%;
        }
    }

    .swiper--left {
        left: -30%;
        bottom: 0;
    }

    .swiper--right {
        right: -30%;
    }
}

.news {
    padding-top: 270px;
    padding-bottom: 200px;
    align-items: flex-end;
    width: 100%;
    position: relative;

    @media (max-width: 1024px) {
        padding-top: 150px;
        padding-bottom: 100px;

        @media (max-width: 560px) {
            padding-bottom: 50px;
        }
    }

    .title {
        align-self: flex-start;
        margin-left: 306px;

        @media (max-width: 1024px) {
            margin-left: 30px;
        }

        h2 {
            font-weight: 500;
            margin-bottom: 13px;
        }
    }

    .section__wrap {
        width: 100%;
        max-width: unset;
        background: linear-gradient(180deg, rgba(160, 139, 20, 0.4) 0%, rgba(218, 187, 23, 0.184) 63.02%, rgba(218, 186, 23, 0.4) 97.91%, rgba(218, 187, 23, 0) 97.92%);
        padding: 0 394px;
        padding-left: 20%;

        @media (max-width: 1024px) {
            background: none;
            padding: 0 0 0 176px;

            @media (max-width: 768px) {
                background: none;
                padding-left: 100px;
            }
        }

        .letters__img {
            position: absolute;
            width: 23%;
            top: -169px;
            right: 72px;
            z-index: 0;

            @media (max-width: 1024px) {
                right: 0;
                top: -120px;
                width: 470px;
                max-width: unset;
            }
        }
    }

    .letters__info {
        margin-left: 0;
    }

    .section__info {
        position: relative;
        width: 100%;
        z-index: 1;

        @media (max-width: 1024px) {
            background: linear-gradient(89.6deg, rgba(255, 255, 255, 0) 0.35%, rgba(255, 255, 255, 0.6) 10%, #FFFFFF 52.09%, rgba(255, 254, 254, 0) 99.69%);
            max-width: 686px;
        }
    }

    &__block {
        // height: 520px;
        height: unset;
        width: 100%;

        .swiper-container {
            max-width: 880px;
            width: 100%;
            margin: 0;
            z-index: 1;

            .swiper-wrapper {
                margin-top: 50px;
                // height: 240px;

            @media (max-width: 1024px) {
                margin-top: 30px;
            }

                .swiper-slide {
                    background: none;
                    color: $txtClr;
                    flex-direction: column;
                    padding-right: 15px;

                    @media (max-width: 1024px) {
                        // background: linear-gradient(89.6deg, rgba(255, 255, 255, 0) 0.35%, rgba(255, 255, 255, 0.6) 10%, #FFFFFF 52.09%, rgba(255, 254, 254, 0) 99.69%);
                    }

                    p {
                        padding: 0;
                    }
                }
            }

            .swiper__buttons {
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                margin: 40px 0 50px 77px;
                width: 170px;
                position: relative;

                @media (max-width: 1024px) {
                    margin: 40px 0 0 0;
                }

                .news-swiper-next,
                .news-swiper-prev {
                    width: 50px;
                    transition: 0.4s;
                }

                .swiper-button-disabled {
                    opacity: 0.3;
                }
            }
        }
    }
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(160px, 581px) minmax(200px, 515px) minmax(250px, 745px);
    grid-template-rows: minmax(200px, 500px) minmax(250px, 600px);
    grid-gap: 40px;

    @media (max-width: 1024px) {
        display: none;
    }

    grid-template-areas:
    "gorizontal gorizontal big-vertical"
    "vertical-left vertical-center big-vertical";

    div:nth-child(1) {
        grid-area: gorizontal;
    }

    div:nth-child(2) {
        grid-area: big-vertical;
    }

    div:nth-child(3) {
        grid-area: vertical-left;
    }

    div:nth-child(4) {
        grid-area: vertical-center;
    }

    div img {
        height: 100%;
        object-fit: cover;
    }
}

.partners {
    padding: 200px 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px) {
        padding: 100px 50px 150px;

        @media (max-width: 768px) {
            padding: 80px 30px;

            @media (max-width: 560px) {
                padding: 50px 30px;
            }
        }
    }

    div {
        margin: 0 30px;

        @media (max-width: 768px) {
            margin: 0 15px;
        }
    }
}

.contacts {
    width: 100%;

    .map {
        width: 100%;
        height: 726px;
        background: linear-gradient(180deg, rgba(161, 152, 100, 0.4) 0%, rgba(161, 152, 100, 0) 100%), url('../../img/map.png');
    }

    .wrap {
        padding: 40px 87px;
        flex-direction: column;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 20px 60px;

        div {
            display: flex;
            width: 580px;
            justify-content: space-between;
            margin-bottom: 20px;

            a, p {
                font-size: 18;
                font-weight: 300;
            }
        }
    }
}

footer {
    background: black;
    padding: 100px 0;

    @media (max-width: 1024px) {
        padding: 20px 0;
    }

    .wrap {
        align-items: center;
        justify-content: space-between;
    }

    .footer__logo {
        position: relative;
        display: flex;
        align-items: center;

        a {
            margin-left: 15px;
            font-size: 64px;
            font-weight: 300;
        }
    }

    .footer__menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 130px;
        max-width: 370px;
        width: 29%;

        @media (max-width: 1024px) {
            height: 100px;
        }

        a {
            margin-bottom: 15px;
            margin-right: 25%;
            color: white;
            font-size: 22px;

            @media (max-width: 1024px) {
                font-size: 15px;
                margin-bottom: 8px;
                margin-right: 23%;
            }
        }
    }

    .footer__contacts {
        display: flex;
        flex-direction: column;
        height: 175px;
        justify-content: space-between;
        max-width: 250px;

        @media (max-width: 1024px) {
            height: 100px;
        }

        a {
            font-size: 22px;
            font-weight: 300;
            color: white;

            @media (max-width: 1024px) {
                font-size: 15px;
            }
        }
    }
}