@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import 'var';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: $fontFam;

    &:focus {
        outline: none;
    }
}

body {
    font-size: 18px;
    color: $txtClr;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $txtClr;
}

.title h2 {
    // text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: 120%;
}

img {
    width: 100%;
}

.wrap {
    display: flex;
    max-width: 1301px;
    width: 68%;
    margin: auto auto;
}

.gradient-txt {
    background: $gradientTxt;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    position: sticky;
    top: 0;
    z-index: 20;
    background: white;

    .wrap {
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        padding: 30px 0;

        .header__menu {
            display: flex;
            justify-content: space-between;
            max-width: 870px;
            width: 67%;
        }

        .header__phone {
            margin: 0;
            font-weight: 500;
        }
    }
}

a.logo {
    display: flex;
    justify-content: center;
    margin-top: -15px;
    font-size: 70px;
    font-weight: 500;
}

section {
    display: flex;
    flex-direction: column;
}

.section__wrap {
    display: flex;
    align-items: center;
    max-width: 1607px;
    width: 84%;
}

.section__info {
    line-height: 185.5%;
    font-weight: 300;

    span {
        font-weight: 500;
    }

    .title {
        margin-bottom: 20px;
    }
}

.about {
    position: relative;
    width: 100%;

    &__title {
        align-self: center;

        h3 {
            font-size: 28px;
            font-weight: 400;
        }
    }

    &__wrap {
        margin-top: 42px;

        .title h2 {
            font-size: 40px;
        }
    }

    &__img {
        max-width: 970px;
        width: 106%;
    }

    &__info {
        margin-left: 35px;
    }
}

.offers {
    padding-top: 73px;
    padding-bottom: 100px;
    align-items: flex-end;
}

.letters {

    &__wrap {
        justify-content: space-between;
        padding-right: 40px;
        padding-left: 93px;
    }

    &__info {

        p {
            max-width: 860px;
            padding-left: 60px;
        }
    }

    &__img {
        max-width: 415px;
        width: 29%;
    }
}

.slider {
    width: 100%;
    height: 832px;
    position: relative;

    .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-wrapper {

            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                background: black;
            }
        }

        .swiper__info {
            position: absolute;
            border-radius: 3px 0 0 0;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            background: white;
            height: 287px;
            max-width: 1100px;
            width: 58%;
            padding: 40px 0 0 40px;
            z-index: 15;

            .swiper__txt {
                max-width: 749px;
                width: 71%;

                &--item {
                    display: none;
                    line-height: 164.9%;

                    h4 {
                        font-size: 22px;
                        font-weight: 400;
                    }

                    p {
                        font-weight: 300;
                    }
                }

                &--active {
                    display: unset;
                }
            }

            .swiper__buttons {
                display: flex;
                width: 232px;
                height: 67px;
                margin-top: auto;
                margin-bottom: 30px;
                justify-content: space-between;

                .swiper-button-next,
                .swiper-button-prev {
                    position: static;
                    border: 1px solid $txtClr;
                    border-radius: 100%;
                    width: 67px;
                    height: 67px;
                    color: $txtClr;
                    margin-top: 0;
                    transition: 0.4s;

                    &::after {
                        content: '';
                    }
                }
            }
        }
    }
}

.works {
    padding-top: 200px;
    padding-bottom: 70px;
    align-items: flex-start;
}