@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import 'var';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: $fontFam;

    &:focus {
        outline: none;
    }
}

body {
    font-size: 18px;
    color: $txtClr;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $txtClr;
}

.title h2 {
    // text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: 120%;
}

img {
    width: 100%;
}

.wrap {
    display: flex;
    max-width: 1301px;
    width: 68%;
    margin: auto auto;
}

.gradient-txt {
    background: $gradientTxt;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    position: sticky;
    top: 0;
    z-index: 20;
    background: white;

    .wrap {
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        padding: 30px 0;

        .header__logo {
            width: 65px;
        }

        .header__menu {
            display: flex;
            justify-content: space-between;
            max-width: 870px;
            width: 67%;
        }

        .header__phone {
            margin: 0;
            font-weight: 500;
        }
    }
}

a.logo {
    display: flex;
    justify-content: center;
    margin-top: -15px;
    font-size: 70px;
    font-weight: 500;
}

section {
    display: flex;
    flex-direction: column;
}

.section__wrap {
    display: flex;
    align-items: center;
    max-width: 1607px;
    width: 84%;
}

.section__info {
    line-height: 185.5%;
    font-weight: 300;

    span {
        font-weight: 500;
    }

    .title {
        margin-bottom: 20px;
    }
}

.about {
    position: relative;
    width: 100%;

    &__title {
        align-self: center;

        h3 {
            font-size: 28px;
            font-weight: 400;
        }
    }

    &__wrap {
        margin-top: 42px;

        .title h2 {
            font-size: 40px;
        }
    }

    &__img {
        max-width: 970px;
        width: 106%;
    }

    &__info {
        margin-left: 35px;
    }
}

.offers {
    padding-top: 73px;
    padding-bottom: 100px;
    align-items: flex-end;
}

.letters {

    &__wrap {
        justify-content: space-between;
        padding-right: 40px;
        padding-left: 93px;
    }

    &__info {

        p {
            max-width: 860px;
            padding-left: 60px;
        }
    }

    &__img {
        max-width: 415px;
        width: 29%;
    }
}

.slider {
    width: 100%;
    height: 832px;
    position: relative;

    .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-wrapper {

            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                background: black;
            }
        }

        .swiper__info {
            position: absolute;
            border-radius: 3px 0 0 0;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            background: white;
            height: 287px;
            max-width: 1100px;
            width: 58%;
            padding: 40px 0 0 40px;
            z-index: 15;

            .swiper__txt {
                max-width: 749px;
                width: 71%;

                &--item {
                    display: none;
                    line-height: 164.9%;

                    h4 {
                        font-size: 22px;
                        font-weight: 400;
                    }

                    p {
                        font-weight: 300;
                    }
                }

                &--active {
                    display: unset;
                }
            }

            .swiper__buttons {
                display: flex;
                width: 232px;
                height: 67px;
                margin-top: auto;
                margin-bottom: 30px;
                justify-content: space-between;

                .swiper-next,
                .swiper-prev {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: static;
                    border: 1px solid $txtClr;
                    border-radius: 100%;
                    cursor: pointer;
                    width: 67px;
                    height: 67px;
                    color: $txtClr;
                    margin-top: 0;
                    transition: 0.4s;
                }

                .swiper-button-disabled {
                    opacity: 0.3;
                }
            }
        }
    }
}

.works {
    padding-top: 200px;
    padding-bottom: 70px;
    align-items: flex-start;
}

.big-slider {
    width: 100%;
    height: 882px;
    display: flex;
    flex-direction: row;
    position: relative;

    .swiper-container {
        max-width: 1301px;
        height: 100%;

        .swiper-wrapper {

            .swiper-slide {
                background: black;
                color: white;
            }
        }

        .swiper__info {
            max-width: 850px;
            width: 66%;
            height: 294px;

            .swiper__txt {
                width: 100%;

                .small {
                    font-size: 16px;
                }
            }

            .swiper__buttons {
                margin-bottom: 0;
            }
        }
    }

    .swiper--left,
    .swiper--right {
        max-width: 797px;
        height: 540px;
        position: absolute;
    }

    .swiper--left {
        left: -30%;
        bottom: 0;
    }

    .swiper--right {
        right: -30%;
    }
}

.news {
    padding-top: 270px;
    padding-bottom: 200px;
    align-items: flex-end;
    width: 100%;
    position: relative;

    .title {
        align-self: flex-start;
        margin-left: 306px;

        h2 {
            font-weight: 500;
            margin-bottom: 13px;
        }
    }

    .section__wrap {
        width: 100%;
        max-width: unset;
        background: linear-gradient(180deg, rgba(160, 139, 20, 0.4) 0%, rgba(218, 187, 23, 0.184) 63.02%, rgba(218, 186, 23, 0.4) 97.91%, rgba(218, 187, 23, 0) 97.92%);
        padding: 0 394px;

        .letters__img {
            position: absolute;
            top: 175px;
            right: 72px;
        }
    }

    .section__info {
        width: 100%;
    }

    &__block {
        height: 520px;
        width: 100%;

        .swiper-container {
            width: 880px;
            margin: 0;

            .swiper-wrapper {
                margin-top: 50px;
                height: 240px;

                .swiper-slide {
                    background: none;
                    color: $txtClr;
                    flex-direction: column;

                    p {
                        padding: 0;
                    }
                }
            }

            .swiper__buttons {
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                margin-top: 120px;
                margin-left: 77px;
                width: 170px;
                height: 5px;
                position: relative;

                .news-swiper-next,
                .news-swiper-prev {
                    width: 50px;
                    transition: 0.4s;
                }

                .swiper-button-disabled {
                    opacity: 0.3;
                }
            }
        }
    }
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 581px 515px 745px;
    grid-template-rows: 578px 696px;
    grid-gap: 40px;

    grid-template-areas:
    "gorizontal gorizontal big-vertical"
    "vertical-left vertical-center big-vertical";

    div:nth-child(1) {
        grid-area: gorizontal;
    }

    div:nth-child(2) {
        grid-area: big-vertical;
    }

    div:nth-child(3) {
        grid-area: vertical-left;
    }

    div:nth-child(4) {
        grid-area: vertical-center;
    }
}

.partners {
    padding: 200px 115px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

footer {
    background: black;
    padding: 100px 0;

    .wrap {
        align-items: center;
        justify-content: space-between;
    }

    .footer__logo {
        display: flex;
        align-items: center;

        a {
            margin-left: 15px;
            font-size: 64px;
            font-weight: 300;
        }
    }

    .footer__menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 130px;
        width: 370px;
        padding-bottom: -15px;

        a {
            margin-bottom: 15px;
            margin-right: 120px;
            color: white;
            font-size: 22px;
        }
    }

    .footer__contacts {
        display: flex;
        flex-direction: column;
        height: 175px;
        justify-content: space-between;
        max-width: 250px;

        a {
            font-size: 22px;
            font-weight: 300;
            color: white;
        }
    }
}