$txtClr: black;
$gradientTxt: linear-gradient(180deg, #A08A14 0%, rgba(218, 187, 23, 0.46) 63.02%, #DABB17 97.91%, rgba(218, 187, 23, 0) 97.92%, rgba(218, 187, 23, 0) 97.93%);
$fontFam: 'Montserrat', sans-serif;