@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

*:focus {
  outline: none;
}

body {
  font-size: 18px;
  color: black;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 560px) {
  .title {
    position: relative;
    padding-bottom: 5px;
    background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(30%, #FFFFFF), color-stop(80%, rgba(255, 254, 254, 0)));
    background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 30%, rgba(255, 254, 254, 0) 80%);
    z-index: 1;
  }
}

@media (max-width: 560px) and (max-width: 320px) {
  .title {
    background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(90%, #FFFFFF), to(rgba(255, 254, 254, 0)));
    background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 90%, rgba(255, 254, 254, 0) 100%);
  }
}

.title h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 120%;
}

@media (max-width: 1024px) {
  .title h2 {
    font-size: 40px;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .title h2 {
    font-size: 28px;
  }
}

img {
  width: 100%;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1301px;
  width: 96%;
  margin: auto auto;
}

@media (max-width: 1024px) {
  .wrap {
    max-width: 964px;
  }
}

.gradient-txt {
  background: -webkit-gradient(linear, left top, left bottom, from(#A08A14), color-stop(63.02%, rgba(218, 187, 23, 0.46)), color-stop(97.91%, #DABB17), color-stop(97.92%, rgba(218, 187, 23, 0)), color-stop(97.93%, rgba(218, 187, 23, 0)));
  background: linear-gradient(180deg, #A08A14 0%, rgba(218, 187, 23, 0.46) 63.02%, #DABB17 97.91%, rgba(218, 187, 23, 0) 97.92%, rgba(218, 187, 23, 0) 97.93%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
  background: rgba(255, 255, 255, 0.95);
}

header .wrap {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  padding: 30px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 1024px) {
  header .wrap {
    font-size: 16px;
    padding: 5px 30px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  header .wrap {
    margin: 0;
    width: unset;
  }
}

@media (max-width: 1024px) and (max-width: 768px) and (max-width: 560px) {
  header .wrap {
    padding: 20px 30px;
    width: 100%;
  }
}

header .wrap .logo {
  display: none;
}

@media (max-width: 560px) {
  header .wrap .logo {
    display: unset;
  }
}

header .wrap .header__logo {
  width: 65px;
  height: 78px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

@media (max-width: 1024px) {
  header .wrap .header__logo {
    width: 147px;
    min-width: 47px;
    height: 57px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  header .wrap .header__logo {
    max-width: 112px;
    width: 17%;
  }
}

@media (max-width: 1024px) and (max-width: 768px) and (max-width: 560px) {
  header .wrap .header__logo {
    width: 6%;
    min-width: 28px;
    height: 32px;
  }
}

header .wrap .header__logo svg {
  width: 100%;
}

header .wrap .header__logo svg line, header .wrap .header__logo svg path {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .wrap .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 870px;
  width: 67%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 1024px) {
  header .wrap .header__menu {
    width: 90%;
    padding-left: 30px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  header .wrap .header__menu {
    padding-left: 10px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) and (max-width: 560px) {
  header .wrap .header__menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    top: 73.5px;
    right: 0;
    height: 300px;
    width: 50%;
    margin-left: -30px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 0 0 0 3px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) and (max-width: 560px) and (max-width: 414px) {
  header .wrap .header__menu {
    width: 70%;
  }
}

@media (max-width: 560px) {
  header .wrap .header__menu[data-show="false"] {
    opacity: 0;
  }
}

@media (max-width: 560px) {
  header .wrap .header__menu--hide {
    display: none;
  }
}

header .wrap .header__phone {
  margin: 0;
  font-weight: 500;
}

@media (max-width: 1024px) {
  header .wrap .header__phone {
    display: none;
  }
}

a.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -15px;
  font-size: 70px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  a.logo {
    font-size: 40px;
    margin-top: 0;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  a.logo {
    display: none;
    font-size: 28px;
    font-weight: normal;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1607px;
  width: 98%;
}

@media (max-width: 560px) {
  .section__wrap {
    width: 100%;
  }
}

.section__info {
  line-height: 185.5%;
  font-weight: 300;
}

.section__info span {
  font-weight: 500;
}

.section__info .title {
  margin-bottom: 20px;
}

.about {
  position: relative;
  width: 100%;
}

@media (max-width: 1024px) {
  .about {
    padding-top: 5px;
  }
}

.about__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 768px) {
  .about__title {
    margin-bottom: 10px;
  }
}

.about__title h3 {
  font-size: 28px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .about__title h3 {
    font-size: 20px;
  }
}

.about__wrap {
  margin-top: 42px;
}

@media (max-width: 768px) {
  .about__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .about__wrap .title {
    margin-bottom: 0;
  }
}

.about__wrap .title h2 {
  font-size: 40px;
}

@media (max-width: 1024px) {
  .about__wrap .title h2 {
    font-size: 25px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  .about__wrap .title h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.about__img {
  max-width: 970px;
  width: 106%;
}

@media (max-width: 768px) {
  .about__img {
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-width: 100%;
  }
}

.about__info {
  margin-left: 35px;
}

@media (max-width: 560px) {
  .about__info {
    padding: 0 35px;
    margin-left: 0;
  }
}

.offers {
  padding-top: 73px;
  padding-bottom: 100px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.letters {
  padding-top: 150px;
  padding-bottom: 145px;
}

@media (max-width: 1024px) {
  .letters {
    padding: 150px 30px 145px 30px;
  }
}

@media (max-width: 1024px) and (max-width: 414px) {
  .letters {
    padding: 50px 30px 55px 30px;
  }
}

.letters__wrap {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 40px;
  padding-left: 93px;
}

@media (max-width: 1024px) {
  .letters__wrap {
    padding-left: 0;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .letters__wrap {
    padding-right: 0;
  }
}

.letters__info {
  margin-left: 40px;
}

@media (max-width: 560px) {
  .letters__info {
    margin-left: 0;
  }
}

.letters__info .section__text {
  position: relative;
  z-index: 1;
}

@media (max-width: 1024px) {
  .letters__info .section__text {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.7)), color-stop(58.82%, #FFFFFF), to(rgba(255, 254, 254, 0)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 58.82%, rgba(255, 254, 254, 0) 100%);
  }
}

.letters__info p {
  max-width: 860px;
  padding-left: 60px;
}

@media (max-width: 1024px) {
  .letters__info p {
    width: 100%;
    padding-left: 146px;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .letters__info p {
    padding-left: 40px;
  }
}

.letters__img {
  max-width: 415px;
  width: 29%;
}

@media (max-width: 1024px) {
  .letters__img {
    position: absolute;
    right: 0;
    opacity: 0.3;
    width: 415px;
    z-index: 0;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .letters__img {
    width: 100%;
  }
}

.slider {
  width: 100%;
  height: 832px;
  position: relative;
}

@media (max-width: 1024px) {
  .slider {
    height: 444px;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) and (max-width: 560px) and (max-width: 414px) {
  .slider {
    height: unset;
  }
}

.slider .swiper-container {
  width: 100%;
  height: 100%;
}

@media (max-width: 414px) {
  .slider .swiper-container {
    height: 190px;
  }
}

.slider .swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background: black;
}

.slider .swiper-container .swiper__info {
  position: absolute;
  border-radius: 3px 0 0 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  height: 287px;
  max-width: 1100px;
  width: 58%;
  padding: 40px 0 0 40px;
  z-index: 15;
}

@media (max-width: 1024px) {
  .slider .swiper-container .swiper__info {
    height: 210px;
    padding: 15px 0 0 15px;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .slider .swiper-container .swiper__info {
    height: 110px;
    width: 263px;
    max-width: 100%;
    display: none;
  }
}

.slider .swiper-container .swiper__info .swiper__txt {
  max-width: 749px;
  width: 92%;
}

.slider .swiper-container .swiper__info .swiper__txt--item {
  display: none;
  line-height: 164.9%;
}

@media (max-width: 560px) {
  .slider .swiper-container .swiper__info .swiper__txt--item {
    line-height: 130%;
  }
}

.slider .swiper-container .swiper__info .swiper__txt--item h4 {
  font-size: 22px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .slider .swiper-container .swiper__info .swiper__txt--item h4 {
    font-size: 20px;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .slider .swiper-container .swiper__info .swiper__txt--item h4 {
    font-weight: 300;
    font-size: 15px;
  }
}

.slider .swiper-container .swiper__info .swiper__txt--item p {
  font-weight: 300;
}

@media (max-width: 560px) {
  .slider .swiper-container .swiper__info .swiper__txt--item p {
    font-size: 10px;
  }
}

.slider .swiper-container .swiper__info .swiper__txt--active {
  display: unset;
}

.slider .swiper-container .swiper__info .swiper__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 232px;
  height: 67px;
  margin-top: auto;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .slider .swiper-container .swiper__info .swiper__buttons {
    height: 40px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  .slider .swiper-container .swiper__info .swiper__buttons {
    height: 30px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) and (max-width: 560px) {
  .slider .swiper-container .swiper__info .swiper__buttons {
    margin-bottom: 0;
    height: 15px;
  }
}

.slider .swiper-container .swiper__info .swiper__buttons .swiper-next,
.slider .swiper-container .swiper__info .swiper__buttons .swiper-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: static;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;
  width: 67px;
  height: 67px;
  color: black;
  margin-top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 1024px) {
  .slider .swiper-container .swiper__info .swiper__buttons .swiper-next,
  .slider .swiper-container .swiper__info .swiper__buttons .swiper-prev {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  .slider .swiper-container .swiper__info .swiper__buttons .swiper-next,
  .slider .swiper-container .swiper__info .swiper__buttons .swiper-prev {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) and (max-width: 560px) {
  .slider .swiper-container .swiper__info .swiper__buttons .swiper-next,
  .slider .swiper-container .swiper__info .swiper__buttons .swiper-prev {
    border: none;
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 1024px) {
  .slider .swiper-container .swiper__info .swiper__buttons .swiper-next svg,
  .slider .swiper-container .swiper__info .swiper__buttons .swiper-prev svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  .slider .swiper-container .swiper__info .swiper__buttons .swiper-next svg,
  .slider .swiper-container .swiper__info .swiper__buttons .swiper-prev svg {
    width: 15px;
    height: 15px;
  }
}

.slider .swiper-container .swiper__info .swiper__buttons .swiper-button-disabled {
  opacity: 0.3;
}

.slider .swiper__txt--media {
  display: none;
  padding: 30px 30px;
  line-height: 164.9%;
}

.slider .swiper__txt--media h4 {
  font-weight: 400;
  font-size: 16px;
}

.slider .swiper__txt--media p {
  font-weight: 300;
}

@media (max-width: 560px) {
  .slider .swiper__txt--media {
    width: 100%;
    display: unset;
  }
}

.slider .swiper__txt--media .swiper__txt--item {
  display: none;
}

.slider .swiper__txt--media .swiper__txt--active {
  display: unset;
}

.works {
  padding-top: 200px;
  padding-bottom: 70px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1024px) {
  .works {
    padding-bottom: 225px;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .works {
    padding-bottom: 130px;
  }
}

@media (max-width: 1024px) and (max-width: 560px) and (max-width: 414px) {
  .works {
    padding-top: 100px;
    padding-bottom: 65px;
  }
}

.big-slider {
  width: 100%;
  height: 882px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

@media (max-width: 1024px) {
  .big-slider {
    height: 451px;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .big-slider {
    height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.big-slider .swiper-container {
  max-width: 1301px;
  height: 100%;
}

@media (max-width: 560px) {
  .big-slider .swiper-container {
    height: 280px;
  }
}

.big-slider .swiper-container .swiper-wrapper .swiper-slide {
  background: black;
  color: white;
}

.big-slider .swiper-container .swiper__info {
  max-width: 850px;
  width: 82%;
  height: 294px;
}

@media (max-width: 1024px) {
  .big-slider .swiper-container .swiper__info {
    width: 92%;
    height: 155px;
    background: white;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .big-slider .swiper-container .swiper__info {
    height: 130px;
    max-width: 100%;
    width: 333px;
  }
}

.big-slider .swiper-container .swiper__info .swiper__txt {
  width: 100%;
}

@media (max-width: 1024px) {
  .big-slider .swiper-container .swiper__info .swiper__txt--item {
    line-height: 130%;
  }
}

@media (max-width: 768px) {
  .big-slider .swiper-container .swiper__info .swiper__txt--item p {
    font-size: 12px;
  }
}

.big-slider .swiper-container .swiper__info .swiper__txt .small {
  font-size: 16px;
}

@media (max-width: 1024px) {
  .big-slider .swiper-container .swiper__info .swiper__txt .small {
    font-size: 12px;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .big-slider .swiper-container .swiper__info .swiper__txt .small {
    font-size: 10px;
  }
}

@media (max-width: 1024px) {
  .big-slider .swiper-container .swiper__info .swiper__txt br {
    display: none;
  }
}

.big-slider .swiper-container .swiper__info .swiper__buttons {
  margin-bottom: 0;
}

.big-slider .swiper--left,
.big-slider .swiper--right {
  max-width: 277px;
  width: 15%;
  height: 540px;
  position: absolute;
}

@media (max-width: 1024px) {
  .big-slider .swiper--left,
  .big-slider .swiper--right {
    height: 296px;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .big-slider .swiper--left,
  .big-slider .swiper--right {
    display: none;
  }
}

.big-slider .swiper--left .swiper-slide,
.big-slider .swiper--right .swiper-slide {
  -o-object-fit: cover;
     object-fit: cover;
}

.big-slider .center-swiper {
  max-width: 1301px;
  width: 69%;
}

@media (max-width: 560px) {
  .big-slider .center-swiper {
    width: 100%;
  }
}

.big-slider .swiper--left {
  left: 0;
  bottom: 0;
}

.big-slider .swiper--right {
  right: 0;
}

.news {
  padding-top: 270px;
  padding-bottom: 200px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  position: relative;
}

@media (max-width: 1024px) {
  .news {
    padding-top: 150px;
    padding-bottom: 100px;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .news {
    padding-bottom: 50px;
  }
}

.news .title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 306px;
  margin-bottom: 13px;
}

@media (max-width: 1024px) {
  .news .title {
    margin-left: 30px;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .news .title {
    margin-left: 0;
  }
}

.news .title h2 {
  font-weight: 500;
}

.news .section__wrap {
  width: 100%;
  max-width: unset;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(160, 139, 20, 0.4)), color-stop(63.02%, rgba(218, 187, 23, 0.184)), color-stop(97.91%, rgba(218, 186, 23, 0.4)), color-stop(97.92%, rgba(218, 187, 23, 0)));
  background: linear-gradient(180deg, rgba(160, 139, 20, 0.4) 0%, rgba(218, 187, 23, 0.184) 63.02%, rgba(218, 186, 23, 0.4) 97.91%, rgba(218, 187, 23, 0) 97.92%);
  padding: 0 394px;
  padding-left: 20%;
}

@media (max-width: 1024px) {
  .news .section__wrap {
    background: none;
    padding: 0 0 0 176px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  .news .section__wrap {
    background: none;
    padding-left: 100px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) and (max-width: 560px) {
  .news .section__wrap {
    padding-left: 50px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) and (max-width: 560px) and (max-width: 414px) {
  .news .section__wrap {
    padding-left: 0;
  }
}

.news .section__wrap .letters__img {
  position: absolute;
  width: 23%;
  top: -169px;
  right: 72px;
  z-index: 0;
}

@media (max-width: 1024px) {
  .news .section__wrap .letters__img {
    right: 0;
    top: -120px;
    width: 470px;
    max-width: unset;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .news .section__wrap .letters__img {
    width: 100%;
  }
}

.news .letters__info {
  margin-left: 0;
}

.news .section__info {
  position: relative;
  width: 100%;
  z-index: 1;
}

@media (max-width: 1024px) {
  .news .section__info {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.7)), color-stop(58.82%, #FFFFFF), to(rgba(255, 254, 254, 0)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 58.82%, rgba(255, 254, 254, 0) 100%);
    max-width: 686px;
  }
}

.news__block {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.news__block .swiper-container {
  max-width: 880px;
  width: 100%;
  height: unset;
  margin: 0;
  z-index: 1;
}

@media (max-width: 414px) {
  .news__block .swiper-container {
    height: 100%;
  }
}

.news__block .swiper-container .swiper-wrapper {
  margin-top: 50px;
}

@media (max-width: 1024px) {
  .news__block .swiper-container .swiper-wrapper {
    margin-top: 30px;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .news__block .swiper-container .swiper-wrapper {
    margin-top: 0;
  }
}

.news__block .swiper-container .swiper-wrapper .swiper-slide {
  background: none;
  color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15px;
}

.news__block .swiper-container .swiper-wrapper .swiper-slide p {
  padding: 0;
}

.news__block .swiper-container .swiper__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin: 40px 0 50px 77px;
  width: 170px;
  position: relative;
}

@media (max-width: 1024px) {
  .news__block .swiper-container .swiper__buttons {
    margin: 40px 0 0 0;
  }
}

.news__block .swiper-container .swiper__buttons .news-swiper-next,
.news__block .swiper-container .swiper__buttons .news-swiper-prev {
  width: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.news__block .swiper-container .swiper__buttons .swiper-button-disabled {
  opacity: 0.3;
}

.gallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(160px, 581px) minmax(200px, 515px) minmax(250px, 745px);
      grid-template-columns: minmax(160px, 581px) minmax(200px, 515px) minmax(250px, 745px);
  -ms-grid-rows: minmax(200px, 500px) minmax(250px, 600px);
      grid-template-rows: minmax(200px, 500px) minmax(250px, 600px);
  grid-gap: 40px;
      grid-template-areas: "gorizontal gorizontal big-vertical" "vertical-left vertical-center big-vertical";
}

@media (max-width: 1024px) {
  .gallery {
    display: none;
  }
}

.gallery div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: gorizontal;
}

.gallery div:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: big-vertical;
}

.gallery div:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: vertical-left;
}

.gallery div:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: vertical-center;
}

.gallery div img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners {
  padding: 200px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .partners {
    padding: 100px 50px 65px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  .partners {
    padding: 80px 30px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) and (max-width: 560px) {
  .partners {
    padding: 50px 30px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) and (max-width: 560px) and (max-width: 414px) {
  .partners {
    padding: 30px 7px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.partners div {
  margin: 0 30px;
}

@media (max-width: 768px) {
  .partners div {
    margin: 0 15px;
  }
}

@media (max-width: 768px) and (max-width: 414px) {
  .partners div {
    margin: 0 10px;
    max-width: 150px;
    width: 39%;
    margin-bottom: 30px;
  }
}

@media (min-width: 1025px) {
  .contacts__logo.logo {
    display: none;
  }
}

.contacts {
  width: 100%;
}

.contacts__title {
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1024px) and (min-width: 561px) {
  .contacts__title {
    display: unset;
    margin-top: 5px;
    margin-bottom: 40px;
  }
}

.contacts__title h3 {
  font-size: 28px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .contacts__title h3 {
    font-size: 20px;
  }
}

.contacts .map {
  position: relative;
  width: 100%;
}

.contacts .map::before {
  position: absolute;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(161, 152, 100, 0.4)), to(rgba(161, 152, 100, 0)));
  background: linear-gradient(180deg, rgba(161, 152, 100, 0.4) 0%, rgba(161, 152, 100, 0) 100%);
}

.contacts .wrap {
  padding: 40px 87px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .contacts .wrap {
    margin: auto 30px;
    padding: 40px 60px 0;
  }
}

@media (max-width: 1024px) and (max-width: 560px) {
  .contacts .wrap {
    padding: 40px 20px 0;
    width: unset;
  }
}

@media (max-width: 1024px) and (max-width: 560px) and (max-width: 414px) {
  .contacts .wrap {
    padding: 40px 0 0;
  }
}

@media (max-width: 1024px) {
  .contacts .wrap .title {
    display: none;
  }
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 60px;
}

@media (max-width: 1024px) {
  .contacts__info {
    margin: auto 30px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  .contacts__info {
    padding: 20px 0;
    margin: auto 0;
  }
}

.contacts__info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 580px;
  width: 120%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .contacts__info div {
    width: 105%;
  }
}

@media (max-width: 768px) and (max-width: 560px) {
  .contacts__info div {
    width: 100%;
  }
}

.contacts__info div a, .contacts__info div p {
  font-size: 18;
  font-weight: 300;
}

@media (max-width: 560px) {
  .contacts__info div a {
    text-align: end;
    max-width: 250px;
  }
}

@media (max-width: 560px) and (max-width: 414px) {
  .contacts__info div a {
    margin-left: 10px;
  }
}

footer {
  background: black;
  padding: 100px 0;
}

@media (max-width: 1024px) {
  footer {
    padding: 20px 0;
  }
}

footer .wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  footer .wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 30px;
    width: unset;
  }
}

footer .footer__logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  footer .footer__logo {
    min-width: 110px;
    padding-right: 10px;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  footer .footer__logo {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) and (max-width: 768px) and (max-width: 320px) {
  footer .footer__logo {
    padding: 0;
  }
}

footer .footer__logo a {
  margin-left: 15px;
  font-size: 64px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  footer .footer__logo a {
    display: none;
  }
}

footer .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 130px;
  max-width: 370px;
  width: 29%;
  min-width: 130px;
}

@media (max-width: 1024px) {
  footer .footer__menu {
    height: 100px;
    max-width: 328px;
    width: 34%;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  footer .footer__menu {
    height: unset;
    width: 25%;
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) and (max-width: 320px) {
  footer .footer__menu {
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

footer .footer__menu a {
  margin-bottom: 15px;
  margin-right: 25%;
  color: white;
  font-size: 22px;
}

@media (max-width: 1024px) {
  footer .footer__menu a {
    font-size: 15px;
    margin-bottom: 8px;
    margin-right: unset;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  footer .footer__menu a {
    font-weight: 300;
  }
}

footer .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 175px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 250px;
  min-width: 180px;
}

@media (max-width: 1024px) {
  footer .footer__contacts {
    height: 100px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  footer .footer__contacts {
    width: 35%;
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) and (max-width: 320px) {
  footer .footer__contacts {
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

footer .footer__contacts a {
  font-size: 22px;
  font-weight: 300;
  color: white;
}

@media (max-width: 1024px) {
  footer .footer__contacts a {
    font-size: 15px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  footer .footer__contacts a {
    font-weight: 300;
  }
}
/*# sourceMappingURL=style.css.map */